@charset "UTF-8";

/* 공통 부분
------------------------------- */

html {
  font-size: 100%;
}

body {
  font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, sans-serif;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* BoardList
------------------------------- */

.contents {
  margin: 150px auto;
}

h1 {
  margin-bottom: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}

th {
  background-color: #34314c;
  color: white;
  text-align: center;
}

td {
  text-align: center;
  line-height: 2.5;
  border-bottom: 1px solid #34314c;
}

#paging {
  margin-top: 30px;
  text-align: center;
}

#paging a {
  display: inline-block;
  width: 30px;
  border-radius: 10%;
  font-size: 1.2rem;
}

.searchBox {
  display: flex;
}

img {
  width: 25px;
}

#boardCategory {
  height: 30px;
}

#write {
  float: right;
  background-color: #34314c;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 10%;
  border: none;
}

#write:hover {
  cursor: pointer;
}
