@charset "UTF-8";
/* HEADER
------------------------------- */

header {
  background: rgb(171, 219, 252);
}

img.logo {
  width: 150px;

}

nav {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  list-style: none;
}

.nav li {
  margin-top: 36px;
  margin-right: 10px;
}

a{
  font-size: 20px;
}