@charset "UTF-8";

/* 공통 부분
------------------------------- */

html {
  font-size: 100%;
}

body {
  font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, sans-serif;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* MAIN
------------------------------- */

.main-contents {
  clear: both;
  margin: 100px auto;
}

.gamesBtn {
  background: rgba(171, 219, 252, 0.2);
}

.searchBox {
  float: right;
  margin-top: 20px;
  display: flex;
}

button img {
  width: 20px;
}

#searchText {
  width: 200px;
  height: 30px;
  border: 2px solid lightgrey;
  border-radius: 10px;
}

.main-contents .container {
  background: rgba(171, 219, 252, 0.2);
  display: flex;
  justify-content: space-between;
}

.topTable,
.midTable {
  margin: 20px;
}

.topTable td,
.midTable td {
  font-size: 1.2rem;
  padding-left: 20px;
}

.topTable td,
.gameImg {
  width: 200px;
}

.topTable tr:first-child td {
  font-size: 1.5rem;
  font-weight: bold;
}

.center {
  text-align: center;
}

.tag,
.tag a {
  color: rgb(64, 147, 214);
  font-size: 1rem;
}

.topChart {
  list-style-position: outside;
  margin-top: 20px;
  margin-right: 20px;
}

.topChart li {
  padding: 0px 10px;
  width: 250px;
  font-size: 1rem;
  margin-bottom: 10px;
}

button {
  padding: 5px;
}

.gamesBtn:hover {
  background-color: rgba(171, 219, 252, 0.5);
}

.midTable td:first-child {
  vertical-align: top;
  font-size: 1.5rem;
  font-weight: bolder;
}

.midTable td {
  padding-top: 20px;
  font-size: 2rem;
  font-weight: bolder;
}

.score {
  width: 120px;
  height: 120px;
  background-color: #ffc952;
  border-radius: 20%;
  display: table;
  text-align: center;
}

.score span {
  display: table-cell;
  vertical-align: middle;
}

.flex {
	display: flex;
}

#tagSearch {
	width: 170px;
	height: 30px;
	background-color: white;
	border: 2px solid lightgrey;
	border-radius: 10px;
}

.tagScroll {
  width: 180px;
  height: 700px;
  overflow: scroll;
}

.bestBoard {
  display: flex;
  justify-content: space-between;
}

.bestBoard p {
  background-color: #34314c;
  color: white;
  width: 200px;
  text-align: center;
  font-size: 1.5rem;
}

.news p {
  background-color: #34314c;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.bestBoard p:first-child {
  margin-left: 150px;
}

.bestBoard p:last-child {
  margin-right: 150px;
}

.boardBtn {
  border-radius: 20%;
  width: 60px;
  height: 40px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #47b8e0;
  color: white;
}

.boardBtn:hover {
  background-color: #36a8d1;
}

.icon {
  width: 20px;
}

.boardChart {
  width: 450px;
}

.newsChart {
  width: 930px;
}

.boardChart li,
.newsChart li {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

li span {
  font-size: 1.1rem;
}
