@import 'common';

// Break Point
@mixin web-break {
  @media (min-width: #{$web-break-width + 1px}) {
    @content;
  }
}
@mixin web-break-table() {
  @media (min-width: #{$web-break-width + 1px}) {
    font-size: 16 * $unit;
    border-top: 1px solid $gray-50;
    & > dl {
      display: flex;
      border-bottom: 1px solid $gray-50;
      & > dt {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        padding: 20 * $unit;
        width: 162 * $unit;
        background-color: $blue-gray-20;
      }
      & > dd {
        flex: 1;
        padding: 20 * $unit;
        font-size: 16 * $unit;
      }
    }
  }
}

//extend
//분기점
%layout_center {
  margin: 0 auto;
  padding: 0 $page-padding;
  @include web-break() {
    padding: 0 $web-page-padding;
  }
  max-width: $web-break-width;
}
//클릭효과 둘 중 하나 쓰면 됨.
//::after 사용을 최소화하기 위해 클릭 시 배경색 변경으로 수정
//@include click_btn_bg(원래 배경색, 어두워지는 정도값, light: 배경색 밝아짐);
//ex)background-color: #000;
//  @include click_btn_bg(#000, 5%, light);
@mixin click_btn_bg($color: #FFFFFF, $amount: 5%, $if: null) {
  @if $if == null {
    &:active {
      background-color: darken($color, $amount);
    }
  } @else {
    &:active {
      background-color: lighten($color, $amount);
    }
  }
}
//클릭효과
%click_bg {
  position: relative;
  overflow: hidden;
  &::after {
    @include position(absolute);
    content: '';
    display: block;
    width: 0;
    height: 0;
  }
  &:active::after {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.03);
  }
}
//클릭효과삭제
%click_bg_dt {
  position: relative;
  overflow: hidden;
  &::after {
    @include position(absolute);
    content: '';
    display: block;
    width: 0;
    height: 0;
  }
  &:active::after {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.00);
  }
}

//텍스트 꾸밈
%txt_types {
  .color {
    color: $color-primary;
  }
  .sec-color {
    color: $color-secondary;
  }
  .gray {
    color: $gray-80;
  }
  .error {
    color: $color-error;
  }
  .bold {
    font-weight: $bold;
  }
  .center {
    text-align: center;
  }
}

//전역
.binding {
  & > * {
    white-space: pre-line;
  }
}
.mo {
  @include web-break() {
    display: none;
  }
}

/*--페이지--*/
:root {
  height: 100%;
  overflow: hidden;
}
#body {
  display: flex;
  flex-direction: column;
  height: 100%;

  & > * {
    flex: 0 0 auto;
  }

  .main {
    flex: 1;
  }
}

.main {
  flex: 1;
  overflow: hidden;
  background-color: #FFFFFF;
  height: 100%;

  &-inner {
    display: flex;
    flex-direction: column;
    height: 100%;

    & > * {
      flex: 0 0 auto;
    }

    &.bg {
      background-color: $blue-gray-5;
      .main-con {
        padding: 26*$unit 16*$unit;
      }
    }
  }

  &-con {
    position: relative;
    flex: 1;
    overflow-y: auto;
  }
  &-btn {
    .btn-wrap {
      @include position(fixed, null, 0, 0, 0);
      display: flex;
    }

    .btn {
      border-radius: 0;
      width: 100%;
      height: $page-btn-height;
      font-weight: $medium;
    }
  }
}

/*--네비--*/
.nav {
  padding: 0 10*$unit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border-top: 1px solid $blue-gray-5;

  &-icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 64*$unit;
    font-size: 12*$unit;
    color: $gray-50;

    &.on {
      span {
        color: $color-primary;
      }

      .i-home {
        background: url("src/assets/static/images/i_home_on.svg") no-repeat 100%;
      }

      .i-user {
        background: url("src/assets/static/images/i_user_on.svg") no-repeat 100%;
      }

      .i-noti {
        background: url("src/assets/static/images/i_noti_on.svg") no-repeat 100%;
      }
    }
  }
}
.tab {
  .btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $blue-gray-5;
    .btn-box {
      display: flex;
      padding: 14*$unit 0 14*$unit 16*$unit;
      flex: 0 0 auto;
      justify-content: center;
      align-items: center;
      img {
        width: 18*$unit;
        height: 18*$unit;
      }
      .txt {
        margin-left: 6*$unit;
        color: $gray-50;
        font-size: 14*$unit;
        font-weight: $medium;
      }
    }

    button {
      position: relative;
      height:$tab-height;
      font-size: 14*$unit;
      font-weight: $medium;
      color: $blue-gray-10;
      &.on {
        color: $blue-gray-50;
        span::after {
          content: "";
          @include position(absolute, 0, null, 0, 0);
          width: 100%;
          height: 2px;
          background-color: $blue-gray-50;
        }
      }
    }
  }
}

/*--헤더--*/
.header {
  width: 100%;
  height: 54*$unit;
  background: #FFFFFF;
  .inner {
    padding: 16*$unit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      background: url("src/assets/static/images/logo.svg") no-repeat;
      background-size: contain;
      width: 24*$unit;
      height: 24*$unit;
    }
    .left {
      .h-btn {
        width: 24*$unit;
        height: 24*$unit;
        &.back {
          background: url("src/assets/static/images/i_left.svg") no-repeat;
          background-size: contain;
          width: 24*$unit;
          height: 24*$unit;
        }
      }
    }
    .text {
      width: 100%;
      text-align: center;
      font-size: 16*$unit;
      font-weight: $medium;
    }
    .i-close{
      //background: url("../images/i-close.svg") no-repeat;
      background-size: contain;
      width: 24*$unit;
      height: 24*$unit;
    }
  }
}



/*--모달--*/
.modal {
  &-dim {
    transition: top 0.5s 0.2s;
    z-index: 20;
    @include position(fixed, 0, 100vh);
    width: 100%;
    height: 100%;

    &::before {
      transition: opacity 0.2s;
      content: "";
      display: block;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
    }

    &.on {
      transition: top 0.2s 0s;
      top: 0;

      &::before {
        transition: opacity 0.3s 0.2s;
        opacity: 1;
      }

      .modal-wrap {
        transition: top 0.3s 0.2s;
        top: 0;
      }
    }
  }

  &-wrap {
    transition: top 0.2s;
    @include position(absolute, 0, 100vh);
    width: 100%;
    height: 100%;
  }

  &-inner {
    height: 100%;

    &.whole {
      width: 100%;
      .modal{
        padding: 0;
        max-width: 100%;
        height: 100%;
        min-height: 100%;
        & > *{
          &{
            border-radius: 0;
          }
        }
        &-con{
          height: 100%;
        }
        &-txt{
          height: 100%;
        }
        .txt{
          &-ttl{
            //height: 36*$unit;
          }
          &-con{
            text-align: left;
            height: 100%;
          }
        }
      }
    }
    &.center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & {
    display: flex;
    flex-direction: column;
    padding: 0 16*$unit;
    min-width: 320px;
    width: 100%;
    max-width: 360*$unit;
    max-height: 80%;

    & > * {
      &:first-child {
        border-radius: 10*$unit 10*$unit 0 0;
      }

      &:last-child {
        border-radius: 0 0 10*$unit 10*$unit;
      }
    }
  }

  &-con {
    min-height: 60*$unit;
    background-color: #FFFFFF;;
    overflow-y: auto;

    .modal-txt {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16*$unit 16*$unit 0;
      font-size: 14*$unit;
    ;
      .txt-ttl {
        font-size: 16*$unit;
        font-weight: $medium;
        text-align: center;
        width: 100%;
      }

      .txt-con {
        margin-top: 26*$unit;
        text-align: center;
        width: 100%;

        & > * {
          margin-bottom: 4*$unit;
          width: 100%;
        }
      }
    }
  }
  /*모달버튼*/
  &-btn {
    flex: 0 0 auto;
    background-color: #FFFFFF;;

    .btn-wrap {
      padding: 26*$unit 16*$unit 16*$unit;
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 14*$unit;
    }

    .btn {
      @include click_btn_bg($color-primary, 4%);
      border-radius: 4*$unit;
      width: 100%;
      height: 46*$unit;
      color: #FFFFFF;;
      background: $color-primary;
      font-weight: $medium;

      &.bo {
        @include click-btn_bg(#FFFFFF, 4%);
        margin-right: 16*$unit;
        background: #FFFFFF;;
        border: 1px solid $blue-gray-10;
        color: $color-primary;
      }
    }
  }
}
/*----------썸네일--------------------------------------------------------------------------------*/
//00_00_00카테고리메뉴.html 참조
.thumb{
  width: 7.2rem;
  height: 7.2rem;
  border: 1px solid #dfdfdf;
  border-radius: 50%;
  overflow: hidden;
  @include flexbox-center(column);

  img{
    height: 100%; //full image
    object-fit: cover;
  }

  &-box{
    @include flexbox-center(column);
    padding: 3rem 0;

    .name{
      font-size: 1.4rem;
      margin: 1.6rem 0 1rem;
    }
  }
}

//.thumb {
//  width: 8rem;
//  height: 8rem;
//  border: 1px solid #dfdfdf;
//  border-radius: 50%;
//  @include flexbox-center(column);
//
//  & > .inner {
//    width: 100%;
//    position: relative;
//    padding-top: 100%;
//  }
//  img {
//    @include position(absolute, 0, 0, 0); //position 으로 높이 잡아주면 object-fit 이 적용안됨(이유모름)
//    height: 100%;
//    object-fit: cover;
//  }
//}


/*----------폼--------------------------------------------------------------------------------*/
.form{
  /*모든 꾸미는 값은 임시값 */
  padding: 16*$unit; //사용하실땐 지워주세요.
  &-ul{
    display: flex;
    flex-direction: column;
  }
  &-li{
    margin-bottom: 10*$unit;
    &:last-child{
      margin-bottom: 0;
    }
    button{
      @extend %click_bg;
      flex: 1;
      background: #FFFFFF;
      border: 1px solid $color-primary;
      color: $color-primary;
      height: 36*$unit;
      font-size: 14*$unit;
    }
  }
  &-ttl{
    font-weight: $medium;
    font-size: 14*$unit;
  }
  &-in{
    display: flex;
    align-items: center;
    justify-content: center;
    /*label, button 모두 임시 값*/
    .label{
      flex: 2;
      input, textarea, select{
        padding: 8*$unit;
        width: 100%;
        border: 1px solid $blue-gray-10;
        height: 36*$unit;
        font-size: 14*$unit;
        &::placeholder{
          color: $blue-gray-20;
        }
        &:focus {
          border-color: $blue-gray-30; //포커스 보더색
        }
        &.disabled {
          background-color: #666; //비활성화 배경색
        }
      }
      select{
        padding: 0 30*$unit 0 8*$unit;
        background: url("src/assets/static/images/i_select_icon.svg") no-repeat center right 8px;
        background-size: 14*$unit;
      }
      textarea{
        height: 80*$unit;
      }
    }
    //인증번호
    &.timer{
      .label{
        @include position(relative);
        input{
          padding-right: 46*$unit;
        }
        .time{
          @include position-center(y, absolute, null, null, 10*$unit, null);
          font-size: 14*$unit;
          font-weight: $medium;
          color: $color-primary;
        }
      }
    }
    button{
      margin-left: 10*$unit;
    }
  }
}
//체크박스,라디오
.chk-box{
  .checkbox {
    @include position(relative);
    display: inline-block;
    input + .label {
      padding-left: 26*$unit;
      min-height: 26*$unit;
      background: url("src/assets/static/images/chkbox.svg") no-repeat left top;
      background-size: 26*$unit;
      font-size: 14*$unit;
      font-weight: $medium;
      line-height: 26*$unit;
      & > span {
        display: block;
        padding-left: 4*$unit;
        margin-top: 3*$unit;
      }
    }
    input:checked + .label {
      background-image: url("src/assets/static/images/chkbox-on.svg");
    }
  }
}
.radio-box {
  .radio {
    @include position(relative);
    display: inline-block;
    font-size: 14*$unit;
    font-weight: $medium;
    input + .label {
      width: 100%;
      text-align: left;
      padding-left: 22*$unit;
      background: url("src/assets/static/images/rdobox.svg") no-repeat left center;
      min-height: 22*$unit;
      background-size: 22*$unit;
      margin-bottom: 0;
    }
    input:checked + .label {
      min-height: 22*$unit;
      background: url("src/assets/static/images/rdobox-on.svg") no-repeat left center;
      background-size: 22*$unit;
    }
  }
}

//
.valid{
  margin-top: 2*$unit;
  color: $color-primary;
  font-size: 12*$unit;
  font-weight: $medium;
}
.hint{
  margin-top: 2*$unit;
  padding: 0 0 0 18*$unit;
  background: url("src/assets/static/images/i_result_no.svg") no-repeat left;
  background-size: 14*$unit;
  color: $gray-50;
  font-size: 12*$unit;
  font-weight: $medium;
}
.essen::before {
  //content: "* ";
  content: "";
  background: url(src/assets/static/images/essen.svg) no-repeat left top 6*$unit;
  padding-right: 0.6rem;
}
//버튼
.btn{
  @extend %click_bg;
  padding: 12*$unit;
  background:$color-primary;
  color: #FFFFFF;
  font-size: 16*$unit;
  font-weight: $medium;
  &-wrap{
    display: flex;
    align-items: center;
    width: 100%;
    //버틈 btm height 값 때문에 따로 넣어둠. btm 따로 안 붙여도 무방
    &.btm{
      .btn{
        height: 56*$unit;
      }
    }
  }
  &.bo{
    background: #FFFFFF;
    border: 1px solid $color-primary;
    color: $color-primary;
  }
  &.disabled{
    @extend %click_bg_dt;
    background: $blue-gray-10;
    color: $blue-gray-5;
  }
}

/*--empty--*/
.empty-wrap {
  display: flex;
  align-items: center;
  min-height: 360*$unit;
}
.empty {
  margin: 50*$unit 0;
  padding-top: 60*$unit;
  width: 100%;
  background-image: url("src/assets/static/images/i_empty.svg");
  background-position: center top;
  background-size: 60*$unit;
  background-repeat: no-repeat;
  font-size: 14*$unit;
  color: $gray-40;
  font-weight: $medium;
  text-align: center;
}


/*--아이콘--*/
*[class^=i_], *[class*=" i_"] {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
}

%icon24 {
  width: 24*$unit;
  height: 24*$unit;
  background-repeat: no-repeat;
  background-size: 100%;
}
%icon16{
  width: 16*$unit;
  height: 16*$unit;
  background-repeat: no-repeat;
  background-size: 100%;
}
.i-icon{
  @extend %icon24;
  background-image: url("src/assets/static/images/i_icon.svg");
}
.i-noti {
  @extend %icon24;
  background-image: url("src/assets/static/images/i_noti.svg");
}
.i-home {
  @extend %icon24;
  background-image: url("src/assets/static/images/i_home.svg");
}
.i-user {
  @extend %icon24;
  background-image: url("src/assets/static/images/i_user.svg");
}
.i-right {
  @extend %icon16;
  background-image: url("src/assets/static/images/i_right.svg");
}

.sec {
  @extend %txt_types;
  & > .inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &-con {
    padding: 16*$unit;
    flex: 1;
    overflow-y: auto;
    background: $blue-gray-5;
  }
  &-btn {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: $page-btn-height;
    .btn-wrap {
      @include position(absolute);
      display: flex;
      width: 100%;
    }
    button {
      &.btn {
        width: 100%;
        height: $page-btn-height;
        border-radius: 0;
        font-size: 18 * $unit;
        font-weight: $medium;
        &.bo {
          border-right: 0;
          border-left: 0;
          border-bottom: 0;
        }
      }
    }
  }
  .con {
    padding: 50*$unit 16*$unit;
    background: #fff;
    border-radius: 16*$unit;
    margin-bottom: 16*$unit;
    font-size: 18*$unit;
    color: $blue-gray-30;
  }
}

/*카테고리메뉴*/
.category{
  li{
    @extend %click_bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16*$unit;
    border-bottom: 1px solid $gray-10;
    .category-name{
      i{
        margin-right: 16*$unit;
      }
      font-size: 14*$unit;
      font-weight: $medium;
    }
  }
}


/*--필요할 때에만 사용하고 필요없으면 삭제해도 되는 양식--*/
//완료 페이지, 체크 애니메이션, ol

/*--완료 페이지--*/
.complete {
  display: flex;
  align-items: center;
  padding-top: 40*$unit;
  font-size: 16*$unit;
  line-height: 1.8;
  text-align: center;
  & > * {
    flex: 1;
  }
  &-txt {
    margin-top: 20*$unit;
  }
}

/*--체크 애니메이션--*/
//00_00_00완료.html에 있는 애니메이션. 핗요할 경우에만 사용
.success-checkmark {
  font-size: 0.9095px;
  .check-icon {
    position: relative;
    margin: 0 auto;
    width: 80em;
    height: 80em;
    border: 4em solid $color-primary;
    border-radius: 50%;
    box-sizing: content-box;
    &::before, &::after {
      content: '';
      position: absolute;
      height: 100em;
      background-color: #fff;
      transform: rotate(-45deg);
    }
    &::before {
      top: 3em;
      left: -2em;
      width: 30em;
      border-radius: 100em 0 0 100em;
      transform-origin: 100% 50%;
    }
    &::after {
      top: 0;
      left: 30em;
      width: 60em;
      border-radius: 0 100em 100em 0;
      transform-origin: 0 50%;
      animation: rotate-circle 4.25s ease-in;
    }
    .icon-line {
      z-index: 10;
      position: absolute;
      height: 5em;
      border-radius: 2em;
      background-color: $color-primary;
      &.line-tip {
        top: 46em;
        left: 14em;
        width: 25em;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }
      &.line-long {
        top: 38em;
        right: 8em;
        width: 47em;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }
    .icon-circle {
      z-index: 10;
      position: absolute;
      top: -4em;
      left: -4em;
      width: 80em;
      height: 80em;
      border-radius: 50%;
      box-sizing: content-box;
      border: 4em solid $color-primary;
      opacity: 0.5;
    }
    .icon-fix {
      z-index: 1;
      position: absolute;
      top: 8em;
      left: 26em;
      width: 5em;
      height: 85em;
      background-color: #fff;
      transform: rotate(-45deg);
    }
  }
}
@keyframes rotate-circle {
  0% {transform: rotate(-45deg);}
  5% {transform: rotate(-45deg);}
  12% {transform: rotate(-405deg);}
  100% {transform: rotate(-405deg);}
}
@keyframes icon-line-tip {
  0% {width: 0;top: 19em;left: 1em;}
  54% {width: 0;top: 19em;left: 1em;}
  70% {width: 50em;top: 37em;left: -8em;}
  84% {width: 17em;top: 48em;left: 21em;}
  100% {width: 25em;top: 45em;left: 14em;}
}
@keyframes icon-line-long {
  0% {width: 0;top: 54em;right: 46em;}
  65% {width: 0;top: 54em;right: 46em;}
  84% {width: 55em;top: 35em;right: 0;}
  100% {width: 47em;top: 38em;right: 8em;}
}

/*--ol--*/
.ol {
  font-size: 16*$unit;
  &-li {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    &::before {
      flex: 0 0 auto;
      content: '';
      display: none;
      counter-increment: custom-number;
      margin-right: 5*$unit;
      vertical-align: top;
    }
    @at-root .ol-txt {
      flex: 1;
    }
  }
  &.dot {
    .ol-li {
      &::before {
        content: '∙ ';
        display: inline-block;
      }
    }
  }
  &.dot-big {
    .ol-li {
      &::before {
        content: '• ';
        display: inline-block;
      }
    }
  }
  &.nb-dot {
    .ol-li {
      &::before {
        content: counter(custom-number) '.';
        display: inline-block;
      }
    }
  }
  &.nb-bracket {
    .ol-li {
      &::before {
        content: counter(custom-number) ')';
        display: inline-block;
      }
    }
  }
  &.nb-circle {
    .ol-li {
      &::before {display: inline-block;}
      &:nth-child(1) {&::before {content: "①";}}
      &:nth-child(2) {&::before {content: "②";}}
      &:nth-child(3) {&::before {content: "③";}}
      &:nth-child(4) {&::before {content: "④";}}
      &:nth-child(5) {&::before {content: "⑤";}}
      &:nth-child(6) {&::before {content: "⑥";}}
      &:nth-child(7) {&::before {content: "⑦";}}
      &:nth-child(8) {&::before {content: "⑧";}}
      &:nth-child(9) {&::before {content: "⑨";}}
      &:nth-child(10) {&::before {content: "⑩";}}
      &:nth-child(11) {&::before {content: "⑪";}}
      &:nth-child(12) {&::before {content: "⑫";}}
      &:nth-child(13) {&::before {content: "⑬";}}
      &:nth-child(14) {&::before {content: "⑭";}}
      &:nth-child(15) {&::before {content: "⑮";}}
    }
  }
  &.dot-hangul {
    .ol-li {
      &::before {display: inline-block;}
      &:nth-child(1) {&::before {content: "가.";}}
      &:nth-child(2) {&::before {content: "나.";}}
      &:nth-child(3) {&::before {content: "다.";}}
      &:nth-child(4) {&::before {content: "라.";}}
      &:nth-child(5) {&::before {content: "마.";}}
      &:nth-child(6) {&::before {content: "바.";}}
      &:nth-child(7) {&::before {content: "사.";}}
      &:nth-child(8) {&::before {content: "아.";}}
      &:nth-child(9) {&::before {content: "자.";}}
      &:nth-child(10) {&::before {content: "차.";}}
      &:nth-child(11) {&::before {content: "카.";}}
      &:nth-child(12) {&::before {content: "타.";}}
      &:nth-child(13) {&::before {content: "파.";}}
      &:nth-child(14) {&::before {content: "하.";}}
    }
  }
}


//아코디언메뉴
.accodian-menu{
  &-ul{

  }
  &-li{
    margin-bottom: 10*$unit;
    padding: 10*$unit;
    background: #FFFFFF;
    border-radius: 16*$unit;
    &:last-child{margin-bottom: 0;}
    .toggle-ttl{
      position: relative;
      h3{
        width: calc(100% - 18px);
        font-size: 16*$unit;
        font-weight: $medium;
      }
      &::after{
        @include position(absolute, null, 0, 0, null);
        content: "";
        background: url("src/assets/static/images/i_up.svg") no-repeat 100% center;
        object-fit: cover;
        transform: rotate(0);
        width: 18*$unit;
        height: 18*$unit;
      }
    }

    .toggle-inner{
      border-top: 2px dotted $blue-gray-10;
      padding-top: 10*$unit;
      margin-top: 10*$unit;
      font-size: 14*$unit;
    }

    //활성화
    &.on{ .toggle-ttl::after{transform: rotate(180deg);} }
  }
}
